.app-carousel:host {
    display: flex;
    width: 100%;
    height: 100vh;
    // top: -110px;
    .carousel {
        position: relative;
        width: 100%;
        height: 100%;
        & img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
        
        & .shop-now-btn{
            font-size: 19px;
            font-weight: 700;
            padding: 6px 13px;
            border: 2px solid white;
            color: white;
            background-color: #00000059;
            border-radius: 0;
            align-self: center;
            justify-content: end;
            margin-bottom: 30px;
            position: absolute;
            bottom: 5%;
            right: 50%;
            transform: translateX(50%);
        }
    }
}



@media only screen and (max-width:700px) {

    .shop-now-btn{
        font-size: 15px !important;
        padding: 3px 7px !important;
        margin: 0px !important;
    }
}