<header class="header"> 
    <mat-toolbar class="main" [ngClass]="{'transparency' : showTransparency}">
        <div class="left">
            <button mat-icon-button class="burger" (click)="toggleSidenav()" aria-label="Example icon-button with heart icon">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div class="center">
            <div class="title" routerLink="/">
                <img src="../../../assets/images/{{pictureName}}" alt="">
            </div>
        </div>
        <div class="right">
            <div class="account-logo-cntr cntr" routerLink="login">
                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon>person</mat-icon>
                </button>
            </div>
            <div class="cart-logo-cntr cntr" routerLink="cart">
                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
                <div *ngIf="cart && cart.totalItems > 0" class="total-cart-items"><span>{{cart.totalItems}}</span></div>
            </div>
        </div>
    </mat-toolbar>
    <mat-toolbar class="menu"  [ngClass]="{'transparency' : showTransparency}">
        <span *ngFor="let item of navItems">
            <!-- Handle branch node buttons here -->
            <span *ngIf="item.children && item.children.length > 0">
              <button mat-button [matMenuTriggerFor]="menu.childMenu">
                {{item.displayName}}
                <mat-icon>expand_more</mat-icon>
              </button>
              <app-menu-item #menu location="navbar" [items]="item.children"></app-menu-item>
            </span>
            <!-- Leaf node buttons here -->
            <span *ngIf="!item.children || item.children.length === 0">
              <button mat-button [routerLink]="item.route">
                {{item.displayName}}
              </button>
            </span>
          </span>
    </mat-toolbar>
</header>